{% extends "base.html" %}
{% block title %}Omsk metro edit{% endblock %}
{% block additional_head %}
    {% load staticfiles %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQpdKHgY0iS3w9nTE6F5625LwZi2zBFY0&v=3.exp"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/markerwithlabel.js" %}"></script>
    <style type="text/css">
        html, body, #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0
        }
        ul .context-menu-item.icon {
            display: list-item;
            width: 95px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="create-station-modal" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Добавить станцию</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="name">Название</label>

                    <div class="controls">
                        <input type="text" id="name" name="name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="line">Ветка</label>

                    <div class="controls">
                        <select id="line" name="line">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="next_id">Перед станцией</label>

                    <div class="controls">
                        <select id="next_id" name="next_id">

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="next_time">Время переезда до следующей</label>

                    <div class="controls">
                        <input type="text" id="next_time" name="next_time">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="prev_time">Время переезда до предыдущей</label>

                    <div class="controls">
                        <input type="text" id="prev_time" name="prev_time">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn js-cancel">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="context-menu-1 box menu-1" style="display: none"></div>
    <div class="context-menu-marker box menu-marker" style="display: none"></div>
    <div id="map-canvas"></div>
    <input type="hidden" id="city-id" value="{{ city.id }}">
    <input type="hidden" id="city-ln" value="{{ city.ln_coord }}">
    <input type="hidden" id="city-lt" value="{{ city.lt_coord }}">
{% endblock %}