{% load staticfiles %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<script src="{% static "js/jquery-2.1.1.js" %}"></script>
<script src="{% static "js/underscore.js" %}"></script>
{#    <script src="{% static "js/jquery-ui.js" %}"></script>#}
<script src="{% static "js/jquery.ui.position.js" %}"></script>
<script src="{% static "js/jquery.contextMenu.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

<link href="{% static "css/jquery-ui.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/jquery-ui.structure.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/jquery-ui.theme.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/jquery.contextMenu.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">