{% extends "base.html" %}
{% load staticfiles %}
{#{% load json_filters %}#}
{% block title %}Карта метро города {{ city.name }}{% endblock %}
{% block additional_head %}

    <style type="text/css">
        #metro-map {
            width: 100%;
            height: 100%;
            background-color: aliceblue
        }

        /*noinspection CssUnusedSymbol*/
        polyline.line {
            fill: none;
            stroke-width: 3;
        }

        /*noinspection CssUnusedSymbol*/
        circle.station {
            cursor: pointer;
            position: relative;
            outline: none;
            stroke-width: 2;
        }

        /*noinspection CssUnusedSymbol*/
        text.station-name {
            fill: black;
        }

        #path-search-container {
            position: absolute;
            left: 2em;
            top: 2em
        }

        /*noinspection CssUnusedSymbol*/
        line.transition {
            stroke-width: 4;
            stroke: #973b00;
        }

        /*noinspection CssUnusedSymbol*/
        .popover {
            z-index: 1001;
        }

        /*noinspection CssUnusedSymbol*/
        .tooltip {
            z-index: 1000;
        }
    </style>
    <script type="application/javascript">
        const SVG_NS = 'http://www.w3.org/2000/svg';
        const CITY_ID = parseInt({{ city.id }}) ? {{ city.id }} : -1;
        const CIRCLE_RADIUS = 5;
        {#        const CITY = JSON.parse(decodeURIComponent('{{ city|jsonify }}'));#}
        var CITY = undefined;
        var STATIONS = undefined;

        function drawLine(line) {
            var lineSVG = document.createElementNS(SVG_NS, 'polyline');
            lineSVG.classList.add('line');
            lineSVG.style.stroke = line.color;
            $(lineSVG).attr('points', line.stations.map(function (station) {
                return station.x + ',' + station.y;
            }).join(' '));
            this.svg.appendChild(lineSVG);
        }

        function drawStations(line) {
            for (var i in line.stations) {
                if (!line.stations.hasOwnProperty(i)) continue;
                var station = line.stations[i];
                var stationSVG = document.createElementNS(SVG_NS, 'circle');
                stationSVG.id = 'stationCircle' + station.id;
                stationSVG.classList.add('station');
                stationSVG.style.stroke = line.color;
                stationSVG.style.fill = line.color;
                stationSVG.dataset.title = station.name;
                stationSVG.dataset.stationId = station.id;
                $(stationSVG).attr({
                    cx: station.x,
                    cy: station.y,
                    r: CIRCLE_RADIUS
                });
                this.svg.appendChild(stationSVG);
                {#                $(circle).click(handler(station.id));#}
                {#                circle = $('<image></image>').addClass('station').attr({#}
                {#                    x: Math.ceil(station.x - 8),#}
                {#                    y: Math.ceil(station.y - 8),#}
                {#                    width: 15,#}
                {#                    height: 15,#}
                {#                    'xlink:href': '{% static "img/omich.jpg" %}'#}
                {#                });#}
                {#            }#}
            }
        }

        function drawTransition(transition) {
            var stationFrom = STATIONS.filter(function (e) {
                return e.id == transition.from_id
            })[0];
            var stationTo = STATIONS.filter(function (e) {
                return e.id == transition.to_id
            })[0];
            var transitionSVG = document.createElementNS(SVG_NS, 'line');
            transitionSVG.classList.add('transition');
            $(transitionSVG).attr({
                x1: stationFrom.x,
                y1: stationFrom.y,
                x2: stationTo.x,
                y2: stationTo.y
            });
            this.svg.appendChild(transitionSVG);
        }

        function drawTextOrTooltip(station) {
            var textSVG = document.createElementNS(SVG_NS, 'text');
            textSVG.id = 'stationName' + station.id;
            textSVG.textContent = station.name;
            textSVG.classList.add('station-name');
            $(textSVG).attr({
                x: station.x + CIRCLE_RADIUS * 1.5,
                y: station.y + CIRCLE_RADIUS / 2
            });
            this.svg.appendChild(textSVG);

            // check if current text overlaps some station circle
            var boundingRect = textSVG.getBoundingClientRect();
            if (STATIONS.filter(function (s) {
                return boundingRect.top - CIRCLE_RADIUS / 2 < s.y && s.y < boundingRect.bottom + CIRCLE_RADIUS / 2
                        && boundingRect.left - CIRCLE_RADIUS * 1.5 < s.x && s.x < boundingRect.right;
            }).length > 1) {
                this.svg.removeChild(textSVG);
                $('circle[data-station-id=' + station.id + ']').tooltip({
                    container: 'body',
                    placement: 'right',
                    trigger: 'hover click'
                });
            }
        }

        function findPath() {
            var sourceId = $('#sourceStation').val(),
                    destinationId = $('#destinationStation').val();
            if (!(sourceId && destinationId && CITY)) {
                //noinspection UnnecessaryReturnStatementJS
                return;
            }
            // here goes dijkstra
        }

        $(document).ready(function () {
            var svg = document.getElementById('metro-map');

            $.ajax('/backend/' + CITY_ID).done(function (city) {
                console.log(city);

                CITY = city;
                STATIONS = _.flatten(city.lines.map(function (line) {
                    return line.stations;
                }));
                (function () {
                    var squareSize = Math.min($(svg).height(), $(svg).width());
                    var margin = (Math.max($(svg).height(), $(svg).width()) - squareSize) / 2;
                    var padding = squareSize * 0.1;
                    var multiplier = squareSize * 0.8;
                    STATIONS.forEach(function (station) {
                        station.x = station.x * multiplier + padding + margin;
                        station.y = (1 - station.y) * multiplier + padding;
                    });
                })();

                city.lines.forEach(_.bind(drawLine, {svg: svg}));
                city.transitions.forEach(_.bind(drawTransition, {svg: svg}));
                city.lines.forEach(_.bind(drawStations, {svg: svg}));
                STATIONS.forEach(_.bind(drawTextOrTooltip, {svg: svg}));

                $('#metro-map').find('circle[data-station-id]').popover({
                    container: 'body',
                    trigger: 'focus',
                    content: $('.popover-buttons').html(),
                    html: true,
                    placement: 'right'
                }).on('shown.bs.popover', function () {
                    var $this = $(this);
                    var stationId = $this.data('stationId');
                    var tip = $this.data('popover').$tip;
                    if (!tip) return;
                    tip.find('.add-source-button').click(function () {
                        $('#sourceStation').val(stationId);
                    });
                    tip.find('.add-destination-button').click(function () {
                        $('#destinationStation').val(stationId);
                    });
                }).focus(function () {
                    $('text#stationName' + $(this).data('stationId')).fadeOut();
                }).focusout(function () {
                    $('text#stationName' + $(this).data('stationId')).fadeIn();
                });
                $('.path-search-container select').change(findPath)
            });
        })
    </script>
{% endblock %}
{% block content %}
    <svg id="metro-map" xmlns="http://www.w3.org/2000/svg"></svg>
    <div id="path-search-container" role="form">
        <h3 class="page-header">{{ city.name }}</h3>

        <div class="form-group">
            <label for="sourceStation" class="col-sm-2 control-label">Откуда</label>
            <select id="sourceStation" class="form-control">
                <option selected value=""></option>
                {% for line in city.lines.all %}
                    <optgroup label="{{ line.name }}">
                        {% for station in line.stations.all %}
                            <option value="{{ station.id }}">{{ station.name }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="destinationStation" class="col-sm-2 control-label">Куда</label>
            <select id="destinationStation" class="form-control">
                <option selected value=""></option>
                {% for line in city.lines.all %}
                    <optgroup label="{{ line.name }}">
                        {% for station in line.stations.all %}
                            <option value="{{ station.id }}">{{ station.name }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="popover-buttons" style="display: none">
        <div class="btn-group">
            <button class="btn btn-default add-source-button" type="button">Отсюда</button>
            <button class="btn btn-default add-destination-button" type="button">Сюда</button>
        </div>
    </div>
{% endblock %}