{% extends "base.html" %}
{% load staticfiles %}
{#{% load json_filters %}#}
{% block additional_head %}

    <style type="text/css">
        #metro-map {
            width: 100%;
            height: 100%;
        }

        /*noinspection CssUnusedSymbol*/
        .line {
            fill: none;
            stroke-width: 3
        }

        /*noinspection CssUnusedSymbol*/
        .station {
            cursor: pointer;
        }

        #path-search-container {
            position: absolute;
            right: 2em;
            top: 2em
        }
    </style>
    <script type="application/javascript">
        const CITY_ID = parseInt({{ city.id }}) ? {{ city.id }} : -1;
        const CIRCLE_RADIUS = 8;
        {#        const CITY = JSON.parse(decodeURIComponent('{{ city|jsonify }}'));#}
        var CITY = undefined;

        function toScreenCoordinates(a, svg) {
            var multiplier = Math.min($(svg).height(), $(svg).width());
            return Math.ceil(a * 0.8 * multiplier) + multiplier * 0.1
        }
        function drawLine(svg, line) {
            svg = $(svg);
            //noinspection JSUnresolvedVariable
            var stations = line.stations;
            stations.forEach(function (station) {
                station.x = toScreenCoordinates(station.x, svg);
                station.y = toScreenCoordinates(1 - station.y, svg);
            });
            svg.append($('<polyline>')
                            .addClass('line')
                            .attr('style', 'stroke:' + line.color)
                            .attr('points', stations.map(function (station) {
                                return station.x + ',' + station.y;
                            }).join(' '))
            );
            console.log(stations);
            for (var i in stations) {
                if (!stations.hasOwnProperty(i)) continue;
                var station = stations[i];
                var circle = $('<circle>').addClass('station').attr({
                    style: 'stroke:' + line.color + ';fill: ' + line.color,
                    cx: station.x,
                    cy: station.y,
                    r: CIRCLE_RADIUS,
                    'data-title': station.name,
                    'data-station-id': station.id
                });
                {#                $(circle).click(handler(station.id));#}
                {#                circle = $('<image></image>').addClass('station').attr({#}
                {#                    x: Math.ceil(station.x - 8),#}
                {#                    y: Math.ceil(station.y - 8),#}
                {#                    width: 15,#}
                {#                    height: 15,#}
                {#                    'xlink:href': '{% static "img/omich.jpg" %}'#}
                {#                });#}
                svg.append(circle);
            }
        }

        function findPath() {
            var sourceId = $('#sourceStation').val(),
                    destinationId = $('#destinationStation').val();
            if (!(sourceId && destinationId && CITY)) return;
            // here goes dijkstra
        }

        $(document).ready(function () {
            var svg = $('#metro-map');

            var drawLineSvg = function (line) {
                drawLine(svg, line)
            };

            $.ajax('/backend/' + CITY_ID).done(function (city) {
                console.log(city);
                CITY = city;
                //noinspection JSUnresolvedVariable
                city.lines.forEach(drawLineSvg);
                //noinspection JSJQueryEfficiency
                $("body").html($("body").html());

                $('#metro-map').find('circle').popover({
                    container: 'body',
                    trigger: 'focus',
                    content: $('.popover-buttons').html(),
                    html: true
                }).on('shown.bs.popover', function () {
                    var $this = $(this);
                    var stationId = $this.data('stationId');
                    var tip = $this.data('popover').$tip;
                    tip.find('.add-source-button').click(function () {
                        $('#sourceStation').val(stationId);
                    });
                    tip.find('.add-destination-button').click(function () {
                        $('#destinationStation').val(stationId);
                    });
                });
                $('.path-search-container select').change(findPath)
            });
        })
    </script>
{% endblock %}
{% block content %}
    <svg id="metro-map" xmlns="http://www.w3.org/2000/svg"></svg>
    <div id="path-search-container" role="form">
        <div class="form-group">
            <label for="sourceStation" class="col-sm-2 control-label">Откуда</label>
            <select id="sourceStation" class="form-control">
                {% for station in stations %}
                    <option value="{{ station.id }}">{{ station.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="destinationStation" class="col-sm-2 control-label">Куда</label>
            <select id="destinationStation" class="form-control">
                {% for station in stations %}
                    <option value="{{ station.id }}">{{ station.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="popover-buttons" style="display: none">
        <div class="btn-group">
            <button class="btn btn-default add-source-button" type="button">Отсюда</button>
            <button class="btn btn-default add-destination-button" type="button">Сюда</button>
        </div>
    </div>
{% endblock %}